body {
	width: 768px;
	height:1004px;
	background-image:url(spaceback.png);
}
#backBtn {
	position: absolute;
	background-image: url(back_icon.png);
    background-size: 128px 64px;
    background-repeat: no-repeat;
    top: 24px;
    left: 24px;
	width: 200px;
	height: 64px;
    font-size: 48px;
    color: yellow;
    padding: 4px 135px;
}
#titleLogo {
	position: absolute;
	background-image: url(space_math.png);
    background-size: 320px 180px;
    background-repeat: no-repeat;
    top: 100px;
    left: 24px;
	width: 320px;
	height: 180px;
}
#settingText {
	position: absolute;
    top: 300px;
    left: 24px;
	width: 700px;
    font-size: 32px;
    color: yellow;
}
#gradeText {
	position: absolute;
    top: 400px;
    left: 24px;
	width: 700px;
    height: 48px;
    font-size: 32px;
    color: yellow;
}
#grade {
	position: absolute;
    top: 400px;
    left: 240px;
	width: 320px;
    height: 48px;
    font-size: 32px;
}
