* {
	margin:0;
	padding:0;
}
body {
	width: 320px;
	height:480px;
  	/* background-color:#000000; */
	background-image:url(spaceback.png);
	-webkit-animation: 'stardriver' 24s linear 0s infinite normal;
}
@-webkit-keyframes 'stardriver' {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 480px; }
}
#gameScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#titleLogo {
    position: absolute;
    background: url(space_kana_320.png);
    background-size: contain;    
    background-repeat: no-repeat;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 40%;
}
#restart
{
    position: absolute;
    background: url(redo_icon.png);
    background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    left: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
}
#setting
{
    position:absolute;
    background: url(setting_icon.png);
    background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    right:10px;
    bottom: 20px;
    width:40px;
    height:40px;
}
#test
{
    position: absolute;
    background: url(ufo.png);
    background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    left: 100px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    color: white;
    display: none;
}
#testNext
{
    position: absolute;
    background: url(ufo.png);
    background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    left: 150px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    color: white;
    display: none;
}

#grade
{
    position:absolute;
    left:160px;
    top:420px;
	width: 120px;
	height: 40px;
}
#gameScreen button {
	height:40px;
	font-size:24pt;
}
#f0,#f1,#f2,#f3,#f4,#f5,#f6,#f7,#f8,#f9,
#f10,#f11,#f12,#f13,#f14,#f15,#f16,#f17,#f18,#f19,
#f20,#f21,#f22,#f23,#f24,#f25,#f26,#f27,#f28,#f29,
#f30,#f31,#f32,#f33,#f34,#f35,#f36,#f37,#f38,#f39,
#f40,#f41,#f42,#f43,#f44,#f45,#f46,#f47,#f48,#f49,
#f50,#f51,#f52,#f53,#f54,#f55,#f56,#f57,#f58,#f59,
#f60,#f61,#f62,#f63,#f64,#f65,#f66,#f67,#f68,#f69,
#f70,#f71,#f72,#f73,#f74,#f75,#f76,#f77,#f78,#f79,
#f80,#f81,#f82,#f83,#f84,#f85,#f86,#f87,#f88,#f89
{
	position: absolute;
	width: 32px;
	height: 32px;
	font-size: 32px;
}
#p0,#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9 {
	position: absolute;
	width: 32px;
	height: 32px;
	font-size: 32px;
}
#quizMessage {
	position: absolute;
	top: 5px;
	left: 20px;
	width: 300px;
	height: 48px;
	color: white;
    	font-family: 'Helvetica';
	font-size: 24px;
    	display: none;
	-webkit-animation: 'slideIn' 2s linear 0s 1 normal;
}
#quiz {
    	font-family: 'Helvetica';
	color: white;
	font-size: 24px;
}
#resultMessage {
	position: absolute;
	top: 120px;
	left: 10px;
	width: 280px;
	height: 64px;
	color: blue;
    font-family: 'Helvetica';
	font-size: medium;
    display: none;
    background-image: url('ship_plate.png');
    background-size: 280px 60px;
    -webkit-background-size: 280px 60px;
    background-repeat: no-repeat;
	-webkit-animation: 'slideIn' 2s linear 0s 1 normal;
    padding-left: 90px;
}
#result {
	color: blue;
    font-family: 'Helvetica';
    font-weight: 900;
	font-size: 48px;
}
#ad_ship {
    position: absolute;
	top: 220px;
	left: -105px;
	width: 440px;
	height: 60px;
    display: none;
    background-image: url('ship_ad.png');
    background-size: 440px 60px;
    background-repeat: no-repeat;
	-webkit-animation: 'slideInFar' 6s linear 0s 1 normal;
}
#admob_ad {	
    position: absolute;
	top: 6px;
	left: 105px;
	width: 320px;
	height: 50px;
}

.zoomIn {
	-webkit-animation: 'zoomIn' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'zoomIn' {
	0% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(1); }
}

.fade {
	-webkit-animation: 'fade' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'fade' {
	0% { -webkit-transform: scale(1); }
	10% { -webkit-transform: scale(3); }
	90% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(0); }
}

.shake {
	-webkit-animation: 'shake' 1s linear 0s 2 normal;
}
@-webkit-keyframes 'shake' {
	0% { -webkit-transform: rotate(0deg); }
	25% { -webkit-transform: rotate(20deg); }
	75% { -webkit-transform: rotate(-20deg); }
	100% { -webkit-transform: rotate(0deg); }
}

.fadeTitle {
	-webkit-animation: 'fadeTitle' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'fadeTitle' {
	0% { -webkit-transform: scale(1); }
	90% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(0); }
}

.slideIn {
	-webkit-animation: 'slideIn' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'slideIn' {
	0% { -webkit-transform: translate(320px,0px); }
	100% { -webkit-transform: translate(0,0); }
}
@-webkit-keyframes 'slideInFar' {
	0% { -webkit-transform: translate(420px,0px); }
	100% { -webkit-transform: translate(0,0); }
}

.dropIn {
	-webkit-animation: 'dropin' 3s linear 0s 1 normal;
}
@-webkit-keyframes 'dropin' {
	0% { -webkit-transform: translate(0px,-480px); }
	100% { -webkit-transform: translate(0,0); }
}

