* {
	margin:0;
	padding:0;
}
body {
	width: 320px;
	height:480px;
	background-image:url(spaceback.png);
	-webkit-animation: 'stardriver' 24s linear 0s infinite normal;
}
@-webkit-keyframes 'stardriver' {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 480px; }
}
#gameScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 420px;
}
#titleLogo {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 320px;
	height: 180px;
}
#restart
{
    position:absolute;
    left:20px;
    top:420px;
	width:40px;
	height:40px;
}
#setting
{
    position:absolute;
    left:260px;
    top:420px;
	width:40px;
	height:40px;
}
#grade
{
    position:absolute;
    left:160px;
    top:420px;
	width: 120px;
	height: 40px;
}
#gameScreen button {
	height:40px;
	font-size:24pt;
}
#f0,#f1,#f2,#f3,#f4,#f5,#f6,#f7,#f8,#f9 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 48px;
	height: 24px;
	color: yellow;
	font-size: 24px;
	/** background-image:url(flag.png); **/
}
#quizMessage {
	position: absolute;
	top: 5px;
	left: 20px;
	width: 300px;
	height: 48px;
	color: white;
	font-size: medium;
    display: none;
}
#quiz {
	color: white;
	font-size: 22px;
}
#resultMessage {
	position: absolute;
	top: 120px;
	left: 10px;
	width: 280px;
	height: 64px;
	color: blue;
	font-size: medium;
    display: none;
    background-image: url('ship_plate.png');
    background-size: contain;
    background-repeat: no-repeat;
	-webkit-animation: 'slidein' 2s linear 0s 1 normal;
}
#result {
	color: blue;
	font-size: 48px;
    padding-left: 80px;
}

.fade {
	-webkit-animation: 'fade' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'fade' {
	0% { -webkit-transform: scale(1); }
	10% { -webkit-transform: scale(3); }
	90% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(0); }
}

.shake {
	-webkit-animation: 'shake' 1s linear 0s 2 normal;
}
@-webkit-keyframes 'shake' {
	0% { -webkit-transform: rotate(0deg); }
	25% { -webkit-transform: rotate(20deg); }
	75% { -webkit-transform: rotate(-20deg); }
	100% { -webkit-transform: rotate(0deg); }
}

.fadeTitle {
	-webkit-animation: 'fadeTitle' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'fadeTitle' {
	0% { -webkit-transform: scale(1); }
	90% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(0); }
}

@-webkit-keyframes 'slidein' {
	0% { -webkit-transform: translate(320px,0px); }
	100% { -webkit-transform: translate(0,0); }
}

#tryAgain {
	position: absolute;
	top: 200px;
	left: 50px;
	/* width: 200px;
	height: 40px; */
    background-color:#002233;
	color: white;
	font-size: large;

}
#tryAgain:hover {
    background-color:#008899;
    transitin:background-color 0.5s linear;
}

