#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 40px;
	background-image:url(iPhone4_header.png);
    background-size: 320px 40px
}
#backbtn {
	position: absolute;
    top: 4px;
    left: 5px;
    height: 32px;
    font-size: medium;
    color: white;
    background-color: transparent;
    border-width: 0;
}
#titleLogo {
    padding-top: 50px;
}
#grade {
    height: 32px;
    font-size: large;
}
