* {
	margin:0;
	padding:0;
}
body {
	width: 768px;
	height:1004px;
	background-image:url(spaceback.png);
	-webkit-animation: 'stardriver' 24s linear 0s infinite normal;
}
@-webkit-keyframes 'stardriver' {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 1004px; }
}
#gameScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 768px;
	height: 1004px;
}
#titleLogo {
	position: absolute;
	top: 100px;
	left: 64px;
	width: 640px;
	height: 360px;
}
#restart
{
    position:absolute;
    left:40px;
    top:960px;
	width: 40px;
	height: 40px;
}
#setting
{
    position:absolute;
    left:700px;
    top:960px;
	width:40px;
	height:40px;
}
#grade
{
    position:absolute;
    left:400px;
    top:700px;
	width: 200px;
	height: 60px;
}
#gameScreen button {
	height:40px;
	font-size:24pt;
}
#f0,#f1,#f2,#f3,#f4,#f5,#f6,#f7,#f8,#f9 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 32px;
	color: yellow;
	font-size: 32px;
    font-family: 'Helvetica';
}
#quizMessage {
	position: absolute;
	top: 5px;
	left: 20px;
	width: 300px;
	height: 48px;
	color: white;
    font-family: 'Helvetica';
    font-weight: 900;
	font-size: 48px;
    display: none;
	-webkit-animation: 'slideIn' 2s linear 0s 1 normal;
}
#quiz {
    font-family: 'Helvetica';
    font-weight: 900;
	color: white;
	font-size: 48px;
}
#resultMessage {
	position: absolute;
	top: 120px;
	left: 10px;
	width: 280px;
	height: 64px;
	color: blue;
    font-family: 'Helvetica';
	font-size: medium;
    display: none;
    background-image: url('ship_plate.png');
    background-size: contain;
    background-repeat: no-repeat;
	-webkit-animation: 'slideIn' 2s linear 0s 1 normal;
    padding-left: 70px;
}
#result {
	color: blue;
    font-family: 'Helvetica';
    font-weight: 900;
	font-size: 48px;
}

.fade {
	-webkit-animation: 'fade' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'fade' {
	0% { -webkit-transform: scale(1); }
	10% { -webkit-transform: scale(3); }
	90% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(0); }
}

.shake {
	-webkit-animation: 'shake' 1s linear 0s 2 normal;
}
@-webkit-keyframes 'shake' {
	0% { -webkit-transform: rotate(0deg); }
	25% { -webkit-transform: rotate(20deg); }
	75% { -webkit-transform: rotate(-20deg); }
	100% { -webkit-transform: rotate(0deg); }
}

.fadeTitle {
	-webkit-animation: 'fadeTitle' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'fadeTitle' {
	0% { -webkit-transform: scale(1); }
	90% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(0); }
}

@-webkit-keyframes 'slidein' {
	0% { -webkit-transform: translate(320px,0px); }
	100% { -webkit-transform: translate(0,0); }
}

.dropin {
	-webkit-animation: 'dropin' 2s linear 0s 1 normal;
}
@-webkit-keyframes 'dropin' {
	0% { -webkit-transform: translate(0px,-480px); }
	100% { -webkit-transform: translate(0,0); }
}
